@page "/about"
@rendermode InteractiveServer
@using PortifolioCore.Entities.Models.AboutModels;
@using PortifolioCore.Entities.DTOs.AboutDTOs;
@inject IAboutServices _service;

<PageTitle>About</PageTitle>
<link href="style/About.css" rel="stylesheet" />

<div class="main-container">
    <ul class="main-row">
        <li class="section-title">
            <h2>About me</h2>
        </li>
    </ul>
    <div class="about-content">
        <ul class="main-row">
            <li class="about-text">
                <h3>I'm Caio Manoel and I'm a <span>Software Developer</span></h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </li>
        </ul>
        <ul class="main-row">
            <li class="personal-info">
                <ul class="main-row">
                    <li class="info-item">
                        <p>Birthday: <span>@info.Birthday</span></p>
                    </li>
                    <li class="info-item">
                        <p>Age: <span>@info.Age</span></p>
                    </li>
                    <li class="info-item">
                        <p>WebSite: <a href="@info.Website" class="button">OFA-Tech GitHub</a></p>
                    </li>
                    <li class="info-item">
                        <p>Email: <span>@info.Email</span></p>
                    </li>
                    <li class="info-item">
                        <p>Degree: <span>@info.Degree</span></p>
                    </li>
                    <li class="info-item">
                        <p>Phone: <span>@info.Phone</span></p>
                    </li>
                    <li class="info-item">
                        <p>City: <span>@info.Location</span></p>
                    </li>
                    <li class="info-item">
                        <p>Freelance: <span>@info.Freelance</span></p>
                    </li>
                </ul>
                <ul class="main-row">
                    <li class="buttons">
                        <a href="" class="button">Download CV</a>
                        <a href="contact" class="button hire-me">Hire me</a>
                    </li>
                </ul>
            </li>
            <li class="skills">
                <ul class="main-row">
                    @foreach (SkillModel skill in Skills)
                    {
                        <li class="skill-item">
                            <h5>@skill.Name</h5>
                            <div class="progressing">
                                <div class="progress-in" style="width: @skill.Level%;"></div>
                                <div class="skill-percent">@skill.Level%</div>
                            </div>
                        </li>
                    }
                </ul>
            </li>
        </ul>
        <ul class="main-row">
            <li class="education">
                <h3 class="title">Education</h3>
                <ul class="main-row">
                    <li class="timeline-box">
                        <ul class="timeline shadow-dark">
                            @foreach (ExperienceModel experience in experiences.Education)
                            {
                                <li class="timeline-item">
                                    <div class="circle-dot" />
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> @experience.StartDate - @experience.EndDate
                                    </h3>
                                    <h4 class="timeline-title">@experience.Name</h4>
                                    <p class="timeline-text">@experience.Description</p>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="experience">
                <h3 class="title">Experience</h3>
                <ul class="main-row">
                    <li class="timeline-box">
                        <ul class="timeline shadow-dark">
                            @foreach (ExperienceModel experience in experiences.Job)
                            {
                                <li class="timeline-item">
                                    <div class="circle-dot" />
                                    <h3 class="timeline-date">
                                        <i class="fa fa-calendar"></i> @experience.StartDate - @experience.EndDate
                                    </h3>
                                    <h4 class="timeline-title">@experience.Name</h4>
                                    <p class="timeline-text">@experience.Description</p>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

@code {
    //private MarkupString skills => new MarkupString(_service.getSkills());
    private List<SkillModel> Skills => _service.getSkills();
    private InformationModel info => _service.getInfo();
    private ExperieceDTO experiences => _service.getExperiences();
}
